# Environment variables for the server
FRONTEND_URL=

# Database connection string
MONGO_URL=
DB_NAME=CourseCompass=

# Server port
API_PORT=

# JWT secret key
JWT_SECRET=

# GMAIL_SMTP
GMAIL_SMTP_USER=
GMAIL_SMTP_PASS=