# Environment variables for the server (required for local development)
FRONTEND_URL=

# Database connection string (required for local development)
MONGO_URL=
DB_NAME=

# Server port (required for local development)
API_PORT=3000

# JWT secret key
# Generte a key from - https://jwtsecretkeygenerator.com/
JWT_SECRET=any-strong-secret-key

# GMAIL_SMTP (required for sending emails)
# Currently, the app uses Gmail SMTP to send emails. 
GMAIL_SMTP_USER=
GMAIL_SMTP_PASS=